# Gov Exploratory Analysis - 2nd step

### Script to analyze the new dataset, understand the variables and search of correlation features

### Author: Marcos Vinicius Ribeiro Silva

## Libraries

In [8]:
import pandas as pd
import os

## Read new dataset generated in first step

In [12]:
if 'data.csv' not in os.listdir(os.getcwd()):
    raise Exception('Run 1st step script!')

df = pd.read_csv('data.csv')
df.head()

Exception: Run 1st step script!

## Init analysis

In [32]:
df.shape
print('Number of registers: %d, number of features: %d' % df.shape)

Number of registers: 2985820, number of features: 31

In [40]:
df.dtypes

CNES          int64
CODUFMUN      int64
REGSAUDE     object
MICR_REG     object
DISTRSAN     object
DISTRADM     object
TPGESTAO     object
PF_PJ         int64
CPF_CNPJ      int64
NIV_DEP       int64
CNPJ_MAN      int64
ESFERA_A    float64
ATIVIDAD      int64
RETENCAO    float64
NATUREZA    float64
CLIENTEL    float64
TP_UNID       int64
TURNO_AT      int64
NIV_HIER    float64
TERCEIRO    float64
TP_LEITO      int64
CODLEITO      int64
QT_EXIST      int64
QT_CONTR      int64
QT_SUS        int64
QT_NSUS       int64
COMPETEN      int64
NAT_JUR       int64
MONTH         int64
YEAR          int64
STATE        object
dtype: object

In [26]:
states = list(set(df.STATE))
print('Number of states in dataset: %d' % len(states))
print('States: %s' % ', '.join(states))

Number of states in dataset: 27
States: GO, MT, PI, AP, SP, CE, PR, DF, AL, RO, RR, AM, MS, BA, SC, RN, MA, AC, PA, PB, ES, RJ, PE, RS, SE, MG, TO

In [33]:
years = list(set(df.YEAR))
print('Years in dataset: %s' % ', '.join([str(x) for x in years]))

Years in dataset: 17, 18, 19, 20, 21

In [42]:
df.describe()

,CNES,CODUFMUN,PF_PJ,CPF_CNPJ,NIV_DEP,CNPJ_MAN,ESFERA_A,ATIVIDAD,RETENCAO,NATUREZA,...,TP_LEITO,CODLEITO,QT_EXIST,QT_CONTR,QT_SUS,QT_NSUS,COMPETEN,NAT_JUR,MONTH,YEAR
count,2.985820e+06,2.985820e+06,2985820.0,2.985820e+06,2.985820e+06,2.985820e+06,0.0,2.985820e+06,0.0,0.0,...,2.985820e+06,2.985820e+06,2.985820e+06,2.985820e+06,2.985820e+06,2.985820e+06,2.985820e+06,2.985820e+06,2.985820e+06,2.985820e+06
mean,3.153005e+06,3.330755e+05,3.0,2.493543e+13,1.771465e+00,9.274175e+12,NaN,3.944497e+00,NaN,NaN,...,2.817465e+00,3.493282e+01,1.022913e+01,3.166969e-03,6.872647e+00,3.356486e+00,2.019093e+05,2.299418e+03,6.512534e+00,1.902806e+01
std,1.959867e+06,1.010514e+05,0.0,2.905197e+13,9.735359e-01,1.931137e+13,NaN,4.852685e-01,NaN,NaN,...,1.676059e+00,2.539578e+01,1.839093e+01,1.861122e-01,1.538328e+01,9.772776e+00,1.420634e+02,1.152598e+03,3.449303e+00,1.420032e+00
min,2.700000e+01,1.100010e+05,3.0,0.000000e+00,1.000000e+00,0.000000e+00,NaN,1.000000e+00,NaN,NaN,...,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.017010e+05,1.015000e+03,1.000000e+00,1.700000e+01
25%,2.237660e+06,2.612000e+05,3.0,3.945020e+11,1.000000e+00,0.000000e+00,NaN,4.000000e+00,NaN,NaN,...,1.000000e+00,1.000000e+01,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.018040e+05,1.244000e+03,4.000000e+00,1.800000e+01
50%,2.509636e+06,3.303900e+05,3.0,1.236127e+13,1.000000e+00,0.000000e+00,NaN,4.000000e+00,NaN,NaN,...,2.000000e+00,3.300000e+01,5.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.019070e+05,2.062000e+03,7.000000e+00,1.900000e+01
75%,3.028429e+06,4.112950e+05,3.0,4.464981e+13,3.000000e+00,8.241754e+12,NaN,4.000000e+00,NaN,NaN,...,4.000000e+00,4.500000e+01,1.000000e+01,0.000000e+00,8.000000e+00,3.000000e+00,2.020100e+05,3.999000e+03,1.000000e+01,2.000000e+01
max,9.997784e+06,5.301800e+05,3.0,9.871488e+13,3.000000e+00,9.722813e+13,NaN,5.000000e+00,NaN,NaN,...,7.000000e+00,9.600000e+01,1.730000e+03,2.800000e+01,1.730000e+03,4.070000e+02,2.021120e+05,3.999000e+03,1.200000e+01,2.100000e+01